@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Lexend+Deca:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  padding: 20px;
}

.main-container {
  display: flex;
  flex-direction: column;
}
.main-container .sedan-container {
  background-color: hsl(31, 77%, 52%);
  /* min-height: 550px; */
  padding: 35px;
  border-radius: 10px 10px 0px 0px;
}
.main-container .sedan-container img {
  margin: 25px 20px;
}
.main-container .sedan-container h1 {
  font-family: Big Shoulders Display;
  margin: 5px 20px;
  color: white;
  font-size: 45px;
}
.main-container .sedan-container p {
  margin: 20px 20px;
  color: white;
  letter-spacing: 2px;
  /* font-size: 30px; */
  width: 100%;

  line-height: 1.6;
  font-weight: 500;
}
.main-container .sedan-container button {
  margin: 30px 20px;
  border: none;
  padding: 15px 40px;
  color: hsl(31, 77%, 52%);
  border-radius: 20px;
  font-size: 15px;
  font-weight: 700;
}
.main-container .suv-container {
  background-color: hsl(184, 100%, 22%);
  /* min-height: 300px; */
  padding: 35px;
}
.main-container .suv-container img {
  margin: 25px 20px;
}
.main-container .suv-container h1 {
  font-family: Big Shoulders Display;
  margin: 5px 20px;
  color: white;
  font-size: 45px;
}
.main-container .suv-container p {
  margin: 20px 20px;
  color: white;
  letter-spacing: 2px;

  line-height: 1.6;
  font-weight: 500;
}
.main-container .suv-container button {
  margin: 30px 20px;
  border: none;
  padding: 15px 40px;
  color: hsl(184, 100%, 22%);
  border-radius: 20px;
  font-size: 15px;
  font-weight: 700;
}
.main-container .luxury-container {
  background-color: hsl(179, 100%, 13%);
  /* min-height: 300px; */
  padding: 35px;
  border-radius: 0px 0px 10px 10px;
}
.main-container .luxury-container img {
  margin: 25px;
}
.main-container .luxury-container h1 {
  font-family: Big Shoulders Display;
  margin: 5px 20px;
  color: white;
  font-size: 45px;
}
.main-container .luxury-container p {
  margin: 20px 20px;
  color: white;
  letter-spacing: 2px;
  line-height: 1.6;
  font-weight: 500;
}
.main-container .luxury-container button {
  margin: 30px 20px;
  border: none;
  padding: 15px 40px;
  color: hsl(179, 100%, 13%);
  border-radius: 20px;
  font-size: 15px;
  font-weight: 700;
}
@media only screen and (min-width: 1024px) {
  body {
    height: 100vh;
  }
  .main-container {
    flex-direction: row;
  }
  .main-container .sedan-container {
    border-radius: 20px 0px 0px 20px;
    height: 500px;
    position: relative;
  }
  .main-container .suv-container {
    border-radius: 0px;
    height: 500px;
    position: relative;
  }
  .main-container .luxury-container {
    border-radius: 0px 20px 20px 0px;
    height: 500px;
    position: relative;
  }
  .main-container .sedan-container button {
    position: absolute;
    bottom: 0;
  }
  .main-container .suv-container button {
    position: absolute;
    bottom: 0;
  }
  .main-container .luxury-container button {
    position: absolute;
    bottom: 0;
  }
}
